*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


form{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.container{
    position: relative;
    height: 100vh;
    width:100%;
    display: flex;
}

        /* left */


.left_section{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #0CAFFF;
}
.left_section img {
    position: absolute;
    padding: 10vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

        /* right */

.right_section{
    background-color: #F0F8FF;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_section h1,p{
    text-align: center;
}
.right_section h1{
    padding-bottom: 1vh;
}
.right_section p{
    padding-bottom: 2vh;
}
.right_section label{
    padding-top: 3vh ;
    font-weight: 350;
    font-size: 2.5vh;
}
.right_section a{
    text-align: right;
    padding-bottom: 3vh;
}
.right_section input{
    height: 5vh;
    width: 80;
    border-radius: 2vh;
    padding: 4vh;
    border: none;
}
::placeholder{
    color:#D3D3D3;
}
a{
    text-decoration: none;
    color: black;
}
.right_section button{
    background-color: #0CAFFF;
    color: #FFFFFF;
    font-size: 3vh;
    padding: 4vh;
    border-radius: 2vh;
    border: none;
}
.register a{
    text-decoration: none;
    color: #0CAFFF;
}
.register p{
    padding-top: 7vh;
    font-size: 2vh;
}
